*~
*.log
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile.conf
lzmada.gpr
*.xml
autom4te.cache
*.txt
bin/
lib/
alire/
obj/
*.cov
test-res.tar